@import 'variables';

@mixin vars {
  --c-primary: #{$c-primary};
  --c-avon-secondary: #{$c-avon-secondary};
  --font-family: #{$font-family};
  --font-family--secondary: #{$font-family--secondary};
  --font-family--tertiary: #{$font-family--tertiary};
  --c-background-one: #{$c-background-one};
  --c-background-two: #{$c-background-two};
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};

  --spacer-2xs: #{$spacer-2xs};
  --spacer-xs: #{$spacer-xs};
  --spacer-sm: #{$spacer-sm};
  --spacer-base: #{$spacer-base};
  --spacer-lg: #{$spacer-lg};
  --spacer-xl: #{$spacer-xl};
  --spacer-2xl: #{$spacer-2xl};
  --spacer-3xl: #{$spacer-3xl};
}

// Media mixins
@mixin for-mobile {
  @media (max-width: $desktop-min - 1px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: $desktop-min) {
    @content;
  }
}
