// base
$c-primary: #7f28c4;
$c-light: #f1f2f3;
$c-avon-secondary: red;
$font-family: 'Montserrat', sans-serif;
$font-family--secondary: 'Montserrat', sans-serif;
$font-family--tertiary: 'Montserrat-Bold';
$c-white: #fff;
$c-text: #1d1f22;
$c-background-one: #fff;
$c-background-two: rgb(241, 241, 241);
$text-primary: #546264;
$text-secondary: #999;
$font-size--sm: 0.875rem;
$font-size--base: 1rem;
$font-weight--medium: 500;
$font-weight--small: 100;

$spacer-2xs: 0.25rem; // 4px
$spacer-xs: 0.5rem; // 8px
$spacer-sm: 1rem; // 16px
$spacer-base: 1.5rem; // 24px
$spacer-lg: 2rem; // 32px
$spacer-xl: 2.5rem; // 40px
$spacer-2xl: 5rem; // 80px
$spacer-3xl: 10rem; // 160px

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;
$desktop-l-min: 1200px;
$desktop-xl-min: 1440px;
$desktop-xxl-min: 1920px;
