.footer-item-link {
	  color: #ffff;
  }
  .footer-list-items:nth-child(1) {
	display: block;
	flex-grow: 2;
  }
  
  .footer-list-items:nth-child(2) {
	display: block;
	flex-grow: 2;
  }
  
  .footer-list-items:nth-child(3) {
	display: block;
	flex-grow: 2;
	
  }
  
  .footer-list-items:nth-child(4) {
	display: block;
	flex-grow: 2;
  }

  .footer-item {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
  }

  .footer-list-item {
	  margin-top: 18px;
  }

  .footer-list-title {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #9E9E9E;
  }

  ul {
    list-style: none;
    padding-left: 0;
}
a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer-list-item-section {
		padding-left: 64px;
	}
	.footer-list-container {
		flex-wrap: wrap;
	}
	.footer-list-items:nth-child(1) {
		width: 50%;
	}
	.footer-list-items:nth-child(2) {
		width: 50%;
	}
	.footer-list-items:nth-child(3) {
		width: 50%;
	}
	.footer-list-items:nth-child(4) {
		width: 50%;
	}
	
}

@media screen and (max-width: 540px) {
	
    .footer-list-container {
		flex-direction: column;
	}

	.footer-list-item-section { 
		padding-left: 20px;
	}
    .footer-list-items:nth-child(1) {
		width: 100%;
	}
	.footer-list-items:nth-child(2) {
		width: 100%;
	}
	.footer-list-items:nth-child(3) {
		width: 100%;
	}
	.footer-list-items:nth-child(4) {
		width: 100%;
	}
}