/*-------------------------------------------------------*/
.footer {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	flex-flow: row wrap;
	color: #fff;
	background-color: #212121;

	ul {
		list-style: none;
		padding-left: 0;
	}
	a {
		text-decoration: none;
	}
}

/*-----------------------------------------------------------*/
.footer-logo-section {
	display: flex;
	justify-content: center;
}

.footer-logo {
  padding: 48px 0;
}

.footer-list-item-section {
  display: flex;
  padding-left: 120px;
  padding-bottom: 48px;
  width: 100%;
}

.footer-copyright {
  background: rgba(255, 255, 255, 0.1);
  padding: 32px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  }

  .footer-social-media-section {
    background: rgba(255, 255, 255, 0.05);
    padding: 32px;
    display: flex;
    justify-content: space-between;
	width: 100%;
  }

  .social-media-icon {
    padding-right: 24px;
  }

  .footer-payment-icon {
    padding-right: 10px;
  }

 .footer-copyright-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #F5F5F5;
 }
 .footer-sitemap-wrapper {
    display: flex;
    justify-content: end;
 }
 .footer-sitemap {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
 } 

 .footer-list-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%
  }
  .footer-item-link {
	  color: #ffff;
  }
  .footer-list-items:nth-child(1) {
	display: block;
	flex-grow: 2;
  }
  
  .footer-list-items:nth-child(2) {
	display: block;
	flex-grow: 2;
  }
  
  .footer-list-items:nth-child(3) {
	display: block;
	flex-grow: 2;
	
  }
  
  .footer-list-items:nth-child(4) {
	display: block;
	flex-grow: 2;
  }

  .footer-item {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
  }

  .footer-list-item {
	  margin-top: 18px;
  }

  .footer-list-title {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #9E9E9E;
  }

  .footer-social-media-line {
	  display: none;
  }

  .footer-logo-line {
	display: none;
}

.footer-title {
	width: 100%;
}

.footer-copyright-link {
	color: #F5F5F5;
}

.footer-sitemap-link {
	color: #FFFFFF;
}

@media screen and (max-width: 768px) {
	.footer-title {
		padding: 0 64px;
	}

	.footer-logo-line {
		display: block;
	    margin: 0 0 48px 0;
	}

	.footer-list-item-section {
		padding-left: 64px;
	}
	.footer-list-container {
		flex-wrap: wrap;
	}
	.footer-list-items:nth-child(1) {
		width: 50%;
	}
	.footer-list-items:nth-child(2) {
		width: 50%;
	}
	.footer-list-items:nth-child(3) {
		width: 50%;
	}
	.footer-list-items:nth-child(4) {
		width: 50%;
	}
}

  @media screen and (max-width: 540px) {

	.footer-title {
		padding: 0 20px;
	}
	.footer-social-media-line {
		display: block;
		width: 100%;
        margin: 32px 0px;
	}

	.footer-logo-line {
		display: block;
	    margin: 0 0 48px 0;
	}

	.footer-list-container {
		flex-direction: column;
	}

	.footer-list-item-section { 
		padding-left: 20px;
	}
	.footer-social-media-section {
		flex-direction: column;
		justify-content: center;
		width:100%;
	}
    .footer-social-media-icons {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	.footer-payment-icons {
	   display: flex;
       justify-content: center;
       flex-flow: wrap;
	}
	.footer-list-items:nth-child(1) {
		width: 100%;
	}
	.footer-list-items:nth-child(2) {
		width: 100%;
	}
	.footer-list-items:nth-child(3) {
		width: 100%;
	}
	.footer-list-items:nth-child(4) {
		width: 100%;
	}
  }



