@import 'scss/variables';

:host {
  display: block;
  width: 100%;

  footer {
    background-color: $c-background-one;
    padding: $spacer-xl 0 $spacer-base;
    color: $text-primary;
    font-family: $font-family;
    font-size: 16px;
    line-height: 24px;
    box-shadow: rgb(128, 128, 128) 0px -10px 10px -10px;
    clear: both;
    position: relative;
    margin-top: auto;
    width: 100%;

    &.dark {
      color: #737373;
      background-color: #26272b;

      a {
        color: #737373;
      }

      h4 {
        color: $c-background-one;
      }
    }
  }

  hr {
    border-top-color: $c-background-two;
    opacity: 0.5;
  }

  h4 {
    color: $text-primary;
    text-transform: uppercase;
    margin-top: $spacer-2xs;
    letter-spacing: 2px;
  }

  a {
    color: $text-primary;
    text-decoration: none;
  }

  .container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1320px;
    padding-right: var(--bs-gutter-x, $spacer-base);
    padding-left: var(--bs-gutter-x, $spacer-base);
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);

    > * {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      margin-top: var(--bs-gutter-y);
    }
  }

  .col {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .footer-links {
    padding-left: 0;
    list-style: none;
  }

  .imgWithText {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $text-primary;
    font-size: 1rem;

    div:nth-child(2) {
      padding-left: 1rem;
    }
  }
}
